<div class="container">
  <div class = "row center">
    <h3>Our courses.</h3>
    <span>Choose any one </span>
  </div>
  <% @courses.each do |course| %>
    <span>Title: <span><span><%= course.title %></span><br>
    <span>Description: </span><span><%= course.description %></span><br>
    <span>Credits: </span><span><%= course.number_credits%></span>
    <%= link_to "Show", course_path(course)%><hr>
  <% end %>
</div>

