<div class="container">
  <% @courses.each do |course| %>
    <span>Title: <span><span><%= course.title %></span><br>
    <span>Description: </span><span><%= course.description %></span><br>
    <span>Credits: </span><span><%= course.number_credits%></span><hr>
  <% end %>
  <%= link_to "New course", new_course_path%>
</div>
