<div class="parallax-container parallax-container1">
    <div class="row container text-white text-right">
       <br><br>
       <h3>What do you do?</h3>
       <h4>Do you wanto to learn english?</h4>
       <h4>Do you want to travel to other coutries?</h4>
       <h4>Let's enter and let's do it</h4>
       <br>
       <a class="waves-effect waves-light btn size-text-button">LET'S GO</a>
    </div>
   <div class="parallax"><img src="http://www.hdwallpapers.in/walls/london_at_night-wide.jpg"></div>
</div>
<div class="section white">
   <div class="row container">
      <h2 class="header">My english page</h2>
      <p class="grey-text text-darken-3 lighten-3">
        <em>"Never consider the stady as un obligation but as an apportunity to prenetrate the beautiful and
        wonderful world of knowledge" </em>| <strong>Albert Einstein</strong>
      </p>
   </div>
</div>

<div class="parallax-container parallax-container1">
   <div class="row container text-white text-right">
      <br><br>
      <h3>What do you do?</h3>
      <h4>Do you wanto to learn english?</h4>
      <h4>Do you want to travel to other coutries?</h4>
      <h4>Let's enter and let's do it</h4>
   </div>
   <div class="parallax"><img src="http://www.topworldplaces.com/gallery/places-to-visit-in-london/places-to-visit-in-london1.jpg"></div>
</div>

<div class="section white">
   <div class="row container">
      <h2 class="header">Angel Manuel Góez Giraldo</h2>
      <!--<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      -->
   </div>
</div>

<footer class="page-footer indigo darken-4">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Angel Manuel Góez Giraldo</h5>
         <span class="grey-text text-lighten-4">Junior web developer</span><br>
         <span class="grey-text text-lighten-4">Computer engineering student</span><br>
         <span class="grey-text text-lighten-4">Politécnico Colombiano Jaime Isaza Cadavid</span>
      </div>
       <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Follow me</h5>
           <a href="https://www.instagram.com/goezangel/"><img class="size-red" src="https://maxcdn.icons8.com/windows10/PNG/512/Logos/instagram_new-512.png" alt=""> </a>
           <a href="https://twitter.com/AngelManuelGoez"> <img class="size-red" src="http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/144/icons/new-twitter-bird.png" alt=""></a>
           <a href="https://www.facebook.com/angel.goxz"> <img class="size-red" src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/facebook-2048-black.png" alt="" ></a>
           <a href="https://github.com/AngelManuel1995"> <img class="size-red" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="" ></a>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2017 Copyright Text
     </div>
   </div>
</footer>
